.animated-text-wrapper{
    color: orange;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100%;}

.animated-text{
    font-size: 2em;
    text-align: left;
    font-weight: 900;
    width: 75%;
    }

.animated-text:hover{
    color: yellow !important;
}



  .jump-on-hover {
    transition: transform 0.2s ease-in-out;
  }

  .under-con{
    color: white;
  display: flex;
  font-size: .5em;
  align-self: baseline;
  padding: 0em 5em;
  gap: 1em;
  flex-direction: column;
  }
  
  /* Apply the effect on hover */
  .jump-on-hover:hover {
    transform: translateY(-5px); /* Adjust the distance as needed */
  }